<app-dashboard></app-dashboard>
<body>
<div ng-app="myApp" ng-controller="myCtrl">   
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 formborder">
                <h3>Enrollement Form</h3>
                <form [formGroup]="enrollForm" id="rd1">
                    <div class="form-group">
                        <label><b>Name</b></label>
                        <input type="text" name="Name" formControlName="Name" class="form-control" ng-model="Name"
                            [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" #Name/>
                        <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                            <div *ngIf="f.Name.errors.required">Name is required</div>
                        </div><br>
                        <div class="form-group">
                            <label for="dt"><b>DOB</b></label>
                            <input type="date" name="DOB" formControlName="DOB" class="form-control" ng-model="DOB"
                                [ngClass]="{ 'is-invalid': submitted && f.DOB.errors }" #DOB/>
                            <div *ngIf="submitted && f.DOB.errors" class="invalid-feedback">
                                <div *ngIf="f.DOB.errors.required">DOB is required</div>
                            </div>
                        </div>
                    </div><br>
                    <div class="form-group">
                        <div class="form-check">
                            <b class="radiobtnalign"> Select your gender</b><br> <label class="form-check-label"
                                for="rd">
                                <input type="radio" name="Gender" class="form-check-input" id="rd" value="Male" ng-model="Gender" checked #Gender>
                                Male
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="rd1">
                                <input type="radio" name="Gender" ng-model="Gender" class="form-check-input" id="rd1" value="Female" #Gender>
                                Female
                            </label>
                        </div><br>
                        <div class="form-group">
                            <label><b>Father Name</b></label>
                            <input type="text" name="FatherName" formControlName="FatherName" class="form-control" ng-model="FatherName"
                                [ngClass]="{ 'is-invalid': submitted && f.FatherName.errors }" #FatherName/>
                            <div *ngIf="submitted && f.FatherName.errors" class="invalid-feedback">
                                <div *ngIf="f.FatherName.errors.required">Father Name is required</div>
                            </div>
                        </div><br>
                        <div class="form-group">
                            <label><b>Mother Name</b></label>
                            <input type="text" name="MotherName" formControlName="MotherName" class="form-control" ng-model="MotherName"
                                [ngClass]="{ 'is-invalid': submitted && f.MotherName.errors }" #MotherName/>
                            <div *ngIf="submitted && f.MotherName.errors" class="invalid-feedback">
                                <div *ngIf="f.MotherName.errors.required">Mother Name is required</div>
                            </div>
                        </div><br>
                        <div class="form-group">
                            <label for="add1"><b>Enter your address</b></label>
                            <input type="text" name="Address" formControlName="Address" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.Address.errors }" #Address/>
                            <div *ngIf="submitted && f.Address.errors" class="invalid-feedback">
                                <div *ngIf="f.Address.errors.required">Address is required</div>
                        </div>
                        </div><br>
                    </div>
                    <div class="form-group">
                        <button (click)="addStudentt(Name.value, DOB.value, Gender.value, FatherName.value, MotherName.value, Address.value)" [disabled]="f.pristine || f.invalid" class="btn btn-success float-left btnenrollpage"
                            style="margin:5px;" id="btn1">Enroll</button>
                        <input type="reset" value="Cancel" class="btn btn-warning float-right btnenrollpage"
                            style="margin:5px;" id="btn2">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</body>